* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $color-primary;
}

body {
    margin: auto;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

.active-link {
    text-decoration: underline;
}